#test-table-layout {
    left: 100px;
}

#test-ui-layout {
    left: 400px;
}

#test-js-layout {
    left: 700px;
}

#test-tk-widget {
    left: 1000px;
}

#test-table-layout .tk.contenu .tk.box {
    height: 100%;
}


/* Positions */

.tk.window {
    position: absolute;
    width: 200px;
    height: 300px;
    top:100px;
}

.tk.titre {
    text-align: center;
}

.tk.contenu {
    text-align: center;
}

.tk.pied {
    text-align: center;
}

.tk.box-table {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
}

.tk.box-td {
    padding: 0;
}

.tk.hcontainer-clear {
    clear: both;
}

.tk.bouton {
    text-align: center;
    border: thin solid gray;
    font-weight: bold;
}

.tk.bouton:hover {
    color: blue;
    border-color: black;
    cursor: default;
}

/* Couleurs */

.tk.window {
    border: thin solid red;
}

.tk.barre-titre {
    background-color: lightgreen;
    border: thin solid green;
}

.tk.contenu .tk.box {
    background-color: lightblue;
    border: thin solid blue;
}

.tk.pied .tk.box {
    //background-color: lightgray;
    //border: thin solid gray;
}
