#test-table-layout {
    left: 100px;
}

#test-ui-layout {
    left: 400px;
}

#test-js-layout {
    left: 700px;
}

#test-tk-widget {
    left: 1000px;
}

#test-table-layout .tk.contenu .tk.box {
    height: 100%;
}


/* Positions */

.tk.window {
    position: absolute ! important;
    width: 200px;
    height: 300px;
    top:100px;
}

.tk.titre {
    text-align: center;
}

.tk.contenu {
    height: 100%;
    text-align: center;
}

.tk.pied {
    text-align: center;
}

.tk.box-table {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
}

.tk.box-td {
    padding: 0;
}

/* hcontainer */
.tk.hcontainer-table {
    width: 100%;
    border-collapse: collapse;
}

.tk.hcontainer-td {
    padding: 0;
    width: 1px;
}

.tk.hcontainer-td.auto-width {
    width: auto;
}

/* vcontainer */
.tk.vcontainer-table {
    height: 100%;
    border-collapse: collapse;
}

.tk.vcontainer-td {
    padding: 0;
}

.tk.vcontainer-tr {
    height: 0px;
}

.tk.vcontainer-tr.auto-height {
    height: auto;
}

/* bouton */
.tk.bouton {
    text-align: center;
    border: thin solid gray;
    font-weight: bold;
}

.tk.bouton:hover {
    color: blue;
    border-color: black;
    cursor: default;
}
