body {
    margin: 0;
}

#log {
    position: absolute;
    top: 75%;
    bottom: 0;
    left: 0;
    right: 0;
}

#log p {
    border-bottom: thin solid lightgray;
    padding: 0.7em 0.3em 0.3em;
    margin: 0;
}

#log-en-tete {
    padding: 0 1em;
    margin: 0;
    font-size: small;
    background-color: lightgray;
}

#log h2 {
    display: inline;
    font-size: 100%;
    margin-right : 1em;
}

#log-en-tete .bouton {
    color: #333;
    border-color: #999;
    background-color: #eee
}

#log-en-tete .bouton:hover {
    color: #555;
    border-color: #ccc;
    background-color: #fff
}

#log-contenu {
    position: absolute;
    top: 1.7em; /* Hack, mais CSS ne nous permettra pas de faire mieux… :( */
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

#outils {
    margin: 0;
}

.bouton {
    display: inline-block;
    padding: 0.1em 0.2em;
    margin: 0.2em;
    text-decoration: none;
    border-width: thin;
    border-style: solid;
}

#outils .bouton {
}

#outils .bouton {
    color: #242;
    border-color: #8a8;
    background-color: #efd;
}

#outils .boutonNormal {
    color: #242;
    border-color: #8a8;
    background-color: #efd;
}

#outils .bouton:hover {
    color: #422;
    border-color: #a88;
    background-color: #fed;
}

#outils .boutonHover {
    color: #422;
    border-color: #a88;
    background-color: #fed;
}

#outils .clear {
    clear:both;
}

#edition {
    position: absolute;
    border: thick solid gray;
    top: 1.9em; /* Hack, mais CSS ne nous permettra pas de faire mieux… :( */
    bottom: 25%;
    left: 0;
    right: 0;
    padding: 1em;
}

#resultats-recherche {
    width: 100%;
    border-collapse: collapse;
}

#resultats-recherche th {
    border-bottom: thin solid black;
}

#resultats-recherche td {
    border-bottom: thin solid lightgray;
}

#resultats-recherche th {
    text-align: left;
}

#edition-blocs > * {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.bloc {
    border: medium solid gray;
    position: absolute;
    width: 25%;
    height: 30%;
    top: 10%;
    left: 20%;
}

.bloc .tete {
    margin: 0.2em;
    padding: 0.3em;
    background-color: lightgray;
}

.bloc .tete .icone {
    float: right;
}

.bloc .contenu {
    padding: 0.4em;
}

.icone {
    display: block;
    font-weight: bolder;
    color: black;
    text-align: center;
    min-width: 1em;
}

.icone-plus:before {
    content: "+";
}

.icone-moins:before {
    content: "-";
}
