body {
    margin: 0;
}

#wrapper { 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: thick solid blue;   
}

table#top {
    height: 100%;
    width: 100%;
    border: thin solid black;
}

td {
    border: thin solid gray;    
}

#tr-log-en-tete {
    height: 1em;
}

#log-en-tete {
    border: thin solid red;
    height: 1em;
    overflow: auto;
}

.bouton {
    display: inline-block;
    padding: 0.1em 0.2em;
    margin: 0.2em;
    text-decoration: none;
    border-width: thin;
    border-style: solid;
}

.tete {
    margin: 0.2em;
    padding: 0.3em;
    background-color: lightgray;
}

#log .tete h2 {
    display: inline;
    font-size: 100%;
    margin-right : 1em;
}

#log {
    height: 20%;
    overflow: auto;
}